.busqueda {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  width: 380px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 340px; /* Ajusta el tamaño máximo */
}

.input-wrapper input {
  width: 100%;
  padding: 15px 15px 15px 15px; /* Espacio adicional para el icono */
  border-radius: 25px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 1.2em; /* Texto más grande */
  font-style: italic;
  transition: border-color 0.3s ease;
}

.input-wrapper input:focus {
  border-color: #007bff;
}

.input-wrapper button {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 1.2em;

}
